html{
    background-color:indianred;
    font-size: 12px;
}

body {
    background-color:wheat;
    border: 3px solid black;
    width: 600px;
    margin: 0 auto;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    font-size: 30px;

    margin: 0;
    padding 20px, 0;
    color:slategray;
    text-shadow: 2px 2px 1px black;
}

img {
    display: block;
    margin: 0 auto;
}

p {
    font-size: 15px;
    text-shadow: 1px 1px 2px gray;
}

li {
    line-height: 2;
}

ul {
    list-style-type:circle;
}

table {
    width: 95%;
    border-collapse: collapse;
    border: 1px solid black;
    margin: 0 auto;
}

td,
th {
    border: 1px solid black;
    text-align: center;
}

th {
    background-color:cornflowerblue;
    font-size: 12px;
}

iframe {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.big {
    font-size: 18px;
    margin: 8px;
}

article {
    margin: 30px 5px;
}

h1 {
    margin: 0 auto;
}

h2 {
    text-align: center;
}

#Text {
    text-align: center;
}